:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  html,
  body {
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    height: 100%;
  }
  
  .main-container-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px auto 90px;
  }

  .main-container-wrapper div{
    border: 1px solid;
  }

  .menu-warpper{
    width: 224px;
    grid-row: 1 / -1;
  }
  .header-warpper{
    grid-column: 2 / -1;
  }

  .content-warpper{
    grid-column: 2 / -1;
  }

  .footer-warpper{
    grid-column: 2 / -1;
  }